

.fixed-header{
    padding-inline: 30px;
    background-color: magenta;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: x-large;
    font-family: cursive;
    margin: 0;
}

.navigation{
    display: flex;
    width: 50%;
    height: 20px;
    background-color: aqua;
}

.buttons{
    width: 120px;
    background-color: black;
    height: 50px;
    display: flex;
    gap: 15px;
}