.box {
  width: 380px;
  height: 363px;
  background: #000000;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.TopDestinationTemplateSection {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.TopDestination {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */

  text-transform: capitalize;

  /* Secondary */

  color: #295943;
}

.DiscoverYourLove {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 27.65px;
  line-height: 120%;
  /* or 33px */


  /* TitleColor */

  color: #3D3E48;
}

#commonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 100px;
}