.cardDiv{
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardImg{
    width: 380px;
    border-radius: 10px;
}
.cardDate{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
/* identical to box height, or 29px */


/* TitleColor */

color: #3D3E48;
}
.cardText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 180%;
    /* or 35px */
    
    
    color: #000000;
}