.cardDiv {
    margin: 0 auto;
}

.cardImg {
    width: 380px;
    border-radius: 10px;
}

.cardDate {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */


    /* TitleColor */

    color: #3D3E48;
}

.cardText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 180%;

    color: #000000;
}