.footer-column-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column-div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19.2px;
  line-height: 180%;
  text-transform: capitalize;
  color: #ffffff;
}
.column-components ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  list-style: none;
}
