.header__nav li{
    color: white;
    /* font-weight: 500; */
    border-bottom: 1.3px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 0.3s;
}

.header__nav{
    width: 50%;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    
}

.header__nav li:hover{
    /* font-weight: 700; */
    border-bottom: 1.3px solid rgb(255, 255, 255, 1);
}