<<<<<<< HEAD
.geoFlag {
    height: 18px;
    width: 25px;
}

.dropdown-container {
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.usdIcon {
=======
.geoFlag{
    height: 25px;
    width: 30px;
}

.dropdown-container{
    display: flex;
    height: 25px;
    justify-content: center;
}

.usdIcon{
>>>>>>> 8daef4803b3813adb54de92ec467088a327262b8
    height: 25px;
    width: 25px;
}