.whyChooseUsDiv {
    width: 380px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.whyChooseUsImg {
    width: 112px;
}