@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  }
.SignedinForms{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid  #43B97F;
    border-radius: 5px;
    z-index: 100;
}
.MYBOOKING{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(66, 66, 66);
    font-weight: 100;
}

.MYBOOKING:hover{
    color: #43B97F;
    cursor: pointer;
}
.MYPROFILE{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(66, 66, 66);
    font-weight: 100;
}
.MYPROFILE:hover{
    color: #43B97F;
    cursor: pointer;
}
.LOGOUT{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(66, 66, 66);
    font-weight: 100;
}
.LOGOUT:hover{
    color: #43B97F;
    cursor: pointer;
}