
.fixed-header{
    padding-inline: 30px;
    background-color: magenta;
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position:fixed */
    width: 100%;
}

.logo{
    font-size: x-large;
    margin: 0;
    font-weight: 700;
    color: white;
    line-height: 1rem;
    cursor: pointer;
}

.header-icons{
    display: flex;
    gap: 15px;
}
