.fixed-header {
  padding-inline: 30px;
  background-color: magenta;
  padding-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* needs to be fixed on scroll not relative */
  position: relative;

}

.logo {
  font-family: cursive;
  font-size: x-large;
  margin: 0;
  font-weight: 700;
  color: white;
  line-height: 1rem;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 15px;
}