.toursPageContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.filterDiv {
    padding: 20px;

}

.insiderightContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
}
