
  
  .loginImage {
    width: 20px;
    height: 20px;
    filter: brightness(0%) sepia(100%) hue-rotate(0deg);
    transition: filter 0.3s ease;
  }
  
  .login {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: black;
    transition: color 0.3s ease;
  }
  
  .loginDiv {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px ;
  }
  
  .loginDiv:hover {
    cursor: pointer;
    color: red;
  }
  
  .loginDiv:hover .loginImage {
    filter: brightness(0%) sepia(100%) hue-rotate(220deg);
    transition: filter 0.3s ease; 
  }
  .signin{
    color: white;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
  }
.signinDiv{
    background-color:#43B97F;
    width: 170px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSection{
    width: 200px;
    height: 320px;
 display: flex;
 align-items: center;
 flex-direction: column;
 position: absolute;
 gap: 8px;
 right: 10px;
 border: 1px #43B97F solid;
 border-radius: 8px;
 background-color: white;
 z-index: 100;
}
.bothInput{
    width: 170px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}
.signinDiv:hover{
    cursor: pointer;
    opacity: 0.8;
}
.emailLabel{
    display: block;
    font-size: 15px;
    font-weight: 700;
}
.passwordLabel{
    display: block;
    font-size: 15px;
    font-weight: 700;
}
.emailInput{
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
}
.passwordInput{
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
}
.passwordInput:focus {
    box-shadow: 0 0 5px 2px #43B97F;
    outline: none;
  }
  .emailInput:focus {
    box-shadow: 0 0 5px 2px #43B97F;
    outline: none;
  }
  .staticHeader{
    width: 100%;
    /* height: 70px; */
    padding-inline: 30px;
    padding-block: 10px;
    background-color: #295943;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  }
  .Forgotpassword{
    font-size: 12px;
    color: rgb(69, 68, 68);
  }
  .Forgotpassword:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .hrLine{
    height: 1px;
    background-color:  rgb(135, 135, 135);
    width: 160px;
  }
  .Notamember{
    color: rgb(69, 68, 68) ;
    font-size: 14px;
  }
  .registerNow{
    color:rgb(69, 68, 68) ;
    font-size: 16px;
  }
  .registerNow:hover{
    color: red;
    cursor: pointer;
  }
  .details{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }