@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-page {
  width: 100%;

}

.welcome-georgia {
  width: 100%;

  background-color: rgb(69, 2, 227);
}

.why-georgia {
  margin-top: 100px;
  width: 100%;
  background-color: rgb(227, 2, 10);
}

.top-destination {
  margin-top: 10px;
  width: 100%;

}

.testimonial {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(237, 9, 180);
}