.photo-title-location-div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.copmonent-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 27.65px;
    line-height: 120%;
    text-transform: capitalize;
    color: #3D3E48;
    margin-top: 20px;
}

.location-div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.location-img {
    width: 16px;
    height: 20px;
}

.location-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #3D3E48;
}